/* General body styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
  color: #333;
}

a {
  font-weight: 500;
  color: #003049;
  text-decoration: inherit;
}
a:hover {
  color: #669bbc;
}

button {
  max-width: 30%;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:#fca311;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f77f00;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #669bbc;
  }
  button {
    background-color: #f9f9f9;
  }
}
